{% extends "base.html" %}
{% block title%}
Pubications
{% endblock %}
                        <!-- content -->
{% block content %}
<div id="page-content-wrapper" >
    <div class="container-fluid">
        <div class="row" style="position:fixed;left:60%">
            <div class="col-sm-12" id="featured"  >   
                <div class="page-header text-muted">
                    <h1>Publications</h1>
                </div>
                <!-- Making list of search names --> 
                {% for term in search_terms %}
                    <a href="#{{term.search_name}}">{{term.search_name}}&nbsp;|</a>
                {% endfor %}
            </div>
        </div>
        <div class="row" >
            {% for term in search_terms %}
            <h2 id="{{term.search_name}}">{{term.search_name}}</h2>
            <div class="row">
                <div class="col-sm-7">
                <!-- Add pubmed search term after "?term=" -->
                    <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{term.search_term}}" target="_blank">PubMed search</a>
                </div>
            </div>
            <br>
            {% for obj in pubs %}
                {% if obj.search_term == term.search_term %}
                <!--/top story-->
                <div class="row">    
                    <div class="col-sm-7">
                        {{ obj.authors}}.
                        <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{obj.pmid}}" target="_blank"><strong>{{ obj.title }}</strong></a>
                        <i>{{ obj.journal }}</i>
                        {{ obj.volume_issue_pages }}
                    </div>
                </div>
                <br>
                {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
<!-- End page content wrapper -->
</div>                      
{% endblock %} 
